[Unit]
Description=updates local git repo and starts the StreamSets Docker containers
Requisite=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/streamsets_start.sh

[Install]
WantedBy=multi-user.target
